@font-face {
    font-family: "flesh-and-blood-font";
    src: url(Augusta.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "flesh-and-blood-font";
    background-color: rgb(70, 70, 70);
    margin: 0px;
    padding: 0px;

}
h1{
    color: rgb(177, 1, 1);
    position: relative;
    text-align: center;
    padding: 2rem;
    font-size: 110px;
}
::placeholder{
    color: rgb(241, 241, 241);
}
button{
    display: inline-block;
    position: relative;
    align-self: center;
    text-align: center;
    border: solid 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(219, 219, 219);
    transition: background-color 0.3s;
    font-size: 25px;
    font-weight: 700;
}
button:hover{
    background-color: aliceblue;
    color: black;
}
form{
    display: flexbox;
    align-items: center;
    width: 400px;
    height: 400px;
    left: 43%;
    position: absolute;
}
input{
    position: relative;
}
label{
    color: rgb(219, 219, 219);
    font-size: 25px;
}
dialog::backdrop{
    background-color: rgb(34, 34, 34);
}
dialog{
    border: none;
    border-radius: 5px;
    box-shadow: black;
    width: 90%;
    align-self: center;
    left: 5%;
    color: rgb(199, 198, 198);
}
input[type="radio"]{
    accent-color: rgb(177, 1, 1);
}