@font-face {
    font-family: "flesh-and-blood-font";
    src: url(Augusta.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "flesh-and-blood-font";
    background-color: rgb(70, 70, 70);
    margin: 0px;
    padding: 0px;

}
h1{
    color: rgb(177, 1, 1);
    position: relative;
    text-align: center;
    padding: 2rem;
    font-size: 110px;
}
::placeholder{
    color: rgb(241, 241, 241);
}
button{
    display: inline-block;
    position: relative;
    align-self: center;
    text-align: center;
    border: none;
    border-color: rgb(219, 219, 219);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(219, 219, 219);
    font-size: 25px;
    font-weight: 700;
}
h1{
    color: rgb(177, 1, 1);
    position: relative;
    text-align: center;
    padding: 2rem;
    font-size: 110px;
}
.bestainiciante{
    width: 400px;
    height: 400px;
    background-image: url(bestaini.png);
    background-size: cover;
    border: none;
    transition: background-image 0.3s ease;
    border-radius: 50px;
}
.bestainiciante:hover{
    background-image: url(bestainicianteinvertida.png);
}
.bestaavançada{
    width: 400px;
    height: 400px;
    background-image: url(bestaava.png);
    background-size: cover;
    border: none;
    transition: background-image 0.3s ease;
    border-radius: 50px;
}
.bestaavançada:hover{
    background-image: url(bestaavançadainvertida.png);
}
p{
    font-size: 25px;
    color: rgb(219, 219, 219);
    position: relative;
    top: 70%;

}
.perigo{
    width: 30px;
    height: 35px;
    position: relative;
    vertical-align: middle;
}
.f1{
    display: flexbox;
    display: inline-block;
    text-align: top;
    width: 400px;
    height: 400px;
    position: relative;
    left: 20%;
}
.f2{
    display: flexbox;
    display: inline-block;
    text-align: top;
    width: 400px;
    height: 400px;
    position: relative;
    left: 20%;
    padding: 1rem;
}
.destaque{
    color: rgb(177, 1, 1);
}
div{
    display: flex;
    align-items: center;
}
.destaque2{
    color: rgb(131, 75, 75);
}
.destaque3{
    color: black;
}